<?xml version="1.0"?>
<robot name="swarm_bot_v2" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_macros.xacro" />
    <xacro:include filename="mobile_base.xacro" />
    <xacro:include filename="sensors_stack.xacro" />

    <link name="base_footprint"/>

    <xacro:mobile_base parent_link="base_footprint"/>

    <xacro:sensor_stack parent_link="chassis_main" chassis_height="0.10"/>

    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        
        <joint name="left_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10.0</param>
                <param name="max">10.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        
        <joint name="right_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10.0</param>
                <param name="max">10.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find swarm_bringup)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>